{% extends "base.html.twig" %}
{% block title %} {{ parent() }} Accueil {% endblock %}

{% block contenu %} 

<div class="container-fluid">
<form action="index.php?page=accueil"method="post" enctype="application/x-www-form-urlencoded">
  <label for="btText">Titre :</label>
  <input type="text" class="form-control" id="btText" name="btText" required>
  <label for="btArticle"> Article :</label>
  <textarea class="form-control" id="btArticle" name="btArticle">
  
  </textarea>
  <button class="btn btn-lg btn-primary btn-block" type="submit" name="btInscrire">Envoyer</button>
  </form>
</div>
{% endblock %}